<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>
      {{ view.title }}
      {% if view.subtitle %}
        - {{ view.subtitle }}
      {% endif %}
    </title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'fira/fira.css' %}" rel="stylesheet">
    <link href="{% static 'threedi_verification/layout.css' %}" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <div class="page-header">
        <h1>
          {{ view.title }}
          {% if view.subtitle %}
            <small>{{ view.subtitle }}</small>
          {% endif %}
        </h1>
      </div>

      {% block full-width %}
        <div class="row">
          <!-- Rows on desktop and horizontal ipads; stacked otherwise. -->
          <div class="col-md-3 col-md-offset-1">
            {% block sidebar %}
              Sidebar
            {% endblock %}
          </div>
          <div class="col-md-8">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-hidden="true">&times;</button>
                {{ message }}
              </div>
            {% endfor %}

            {% block main-column %}
              Main column
            {% endblock %}
          </div>
        </div>

      {% endblock %}

    </div>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
