{% extends "threedi_verification/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block main-column %}

  <p>
    <a class="btn btn-primary btn-lg"
       href="{% url 'threedi_verification.library_versions' %}">
      <span class="glyphicon glyphicon-arrow-right"></span>
      {% trans "Library versions overview" %}
    </a>
  </p>

  <p>
    <a class="btn btn-primary btn-lg"
       href="{% url 'threedi_verification.test_cases' %}">
      <span class="glyphicon glyphicon-arrow-right"></span>
      {% trans "Test cases overview" %}
    </a>
  </p>

{% endblock %}
