{% extends "base.html" %}

{% block main %}
  <div class="page-header">
    <h1>{{ title }} <small>detailed model tests</small></h1>
  </div>

  <p>
    The calculation core ("<i>rekenkern</i>") is verified
    automatically by giving it small test cases and comparing the
    output. It is done every time something changes in the calculation
    core, so this is a great way for <b>ensuring and monitoring
    correctness</b>.
  </p>
  <p>
    The current summary:
  </p>
  <ul>
    {% for summary_item in view.summary_items %}
      <li>{{ summary_item }}</li>
    {% endfor %}
  </ul>

  <h2>Calculation core crashes and model loading problems</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Testcase</th>
        <th>Error</th>
        <th>Full logfile</th>
      </tr>
    </thead>
    <tbody>
      {% for mdu in view.problem_mdus %}
        <tr>
          <td class="first-index-column">
            <i class="icon-remove wrong"></i>
            {{ mdu.short_title }}
          </td>
          <td>
            <pre>{{ mdu.log_summary }}</pre>
          </td>
          <td>
            <a href="{{ mdu.details_filename }}"
               title="Logfile">
              <i class="icon-file-text-alt"></i> Logfile
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Test overview</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Testcase</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      {% for mdu in view.loaded_mdus %}
        <tr>
          <td class="first-index-column">
            {% if mdu.overall_status == 'WRONG' %}
              <span class="wrong">
                <i class="icon-remove"></i>
              </span>
            {% elif mdu.overall_status == 'PARTIAL' %}
              <span class="partial">
                <i class="icon-remove"></i>
              </span>
            {% else %}
              <span class="good">
                <i class="icon-ok"></i>
              </span>
            {% endif %}
            <a href="{{ mdu.details_filename }}">
              {{ mdu.short_title }}
            </a>
          </td>

          <td>
            {% if mdu.index_lines %}
              {% for line in mdu.index_lines %}
                <div>{{ line }}</div>
              {% endfor %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>
    Looking for older results? See
    the <a href="http://jenkins.3di.lizard.net/testresults/archive/">archive
    page</a>.
  </p>

{% endblock main %}
