{% extends "base.html" %}

{% block main %}
  <div class="page-header">
    <h1>
      {% if context.loadable %}
        <i class="icon-ok good"></i>
      {% else %}
        <i class="icon-remove wrong"></i>
      {% endif %}
      {{ context.short_title }}
    </h1>
  </div>
    
  {% if context.index_lines %}
    <h2>Explanation of the test</h2>
    {% for line in context.index_lines %}
      <div>{{ line }}</div>
     {% endfor %}
  {% endif %}

  {% if context.log %}

    <h2>Log of the crash or model problem</h2>
    <div class="alert alert-error">
      <pre>{{ context.log_summary }}</pre>
    </div>
    <p>Full log:</p>
    <pre>{{ context.log }}</pre>

  {% else %}

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Expected</th>
          <th>Found</th>
          <th>What</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        {% for instruction in context.instructions %}
          <tr>
            <td>
              {{ instruction.parameter }}
            </td>
            <td>
              {% if instruction.invalid_desired_value %}
                <span class="wrong">
                  <i class="icon-remove"></i>
                  {{ instruction.invalid_desired_value }}
                </span>
              {% else %}
                {{ instruction.desired }}
              {% endif %}
            </td>
            <td>
              {% if instruction.equal %}
                <span class="good">
                  <i class="icon-ok"></i>
                  {{ instruction.found }}
                </span>
              {% elif instruction.log %}
                <span class="wrong has-tooltip"
                      title="{{ instruction.shortlog|escape }}">
                  <i class="icon-remove"></i>
                  An error occurred
                </span>
              {% else %}
                <span class="wrong">
                  <i class="icon-remove"></i>
                  {{ instruction.found }}
                </span>
              {% endif %}
            </td>
            <td>
              {% for comment in instruction.what %}
                {{ comment }}
                {% if not loop.latest %}<br />{% endif %}
              {% endfor %}
            </td>
            <td>
              {{ instruction.title }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}

  <h2>Model parameters</h2>
  <dl>
    {% for parameter, value in context.model_parameters %}
      <dt>{{ parameter }}</dt>
      <dd>{{ value }}</dd>
    {% endfor %}
  </dl>

  {% if context.csv_contents %}
    <h2>Test instructions <small>for debug purposes</small></h2>
    {% for csv_contents in context.csv_contents %}
      <p>This is what Python read from <code>{{ csv_contents.filename }}</code>:</p>
      <pre>{{ csv_contents.contents }}</pre>
    {% endfor %}
  {% endif %}


{% endblock main %}
